#rc-user-block {
  border-left: 2px solid #fefefe;
}
#rc-user-block .rc-header {
  padding: 20px;
}
#rc-user-iframe {
  height: inherit;
  width: 100%;
  height: calc(100% - 50px);
  border: none;
}
#rc-user-block .rc-header-element {
  float: left;
  color: #1d74f5;
  font-size: 0.7rem;
  margin-right: 8px;
}
#rc-user-block .rc-reload.rc-header-element {
  float: right;
  cursor: pointer;
}
.os-error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.os-error-container p {
  color: #464545;
  text-align: center;
}
