#rc-user-popup {
  border-left: 2px solid #fefefe;
}
#rc-user-popup .rc-button {
  cursor: pointer;
  position: fixed;
  right: 4%;
  bottom: 3%;
  z-index: 9998;
}
#rc-user-popup .rc-button.button-text {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  width: 280px;
}
#rc-user-popup .rc-button.button-icon {
  width: 9vh;
  height: 9vh;
}
#rc-user-popup .popup-block {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;
  resize: horizontal;
  z-index: 9999;
  background-color: #fff;
}
#rc-user-popup .rc-header {
  padding: 20px;
}
#rc-user-popup .rc-close span {
  font-family: Arial, Helvetica, sans-serif;
}
#rc-user-popup-iframe {
  height: inherit;
  width: 100%;
  height: calc(100% - 50px);
  border: none;
}
#rc-user-popup .rc-header-element {
  float: left;
  color: #1d74f5;
  font-size: 0.7rem;
  margin-right: 8px;
}
#rc-user-popup .rc-close.rc-header-element {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  line-height: 1.2rem;
  margin-left: 8px;
  margin-right: 0;
  margin-top: -3px;
}
#rc-user-popup .rc-close.rc-header-element:hover,
#rc-user-popup .rc-close.rc-header-element:focus {
  color: #7b7b7b;
  text-decoration: none;
  cursor: pointer;
}
#rc-user-popup .rc-reload.rc-header-element {
  float: right;
  cursor: pointer;
}
.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.error-container p {
  color: #464545;
  text-align: center;
}
