/* The logo on the default admin theme */
.toolbar-icon-rc-settings:before,
.toolbar-icon-rc-settings:active:before,
.toolbar-icon-rc-settings.is-active:before {
  -webkit-mask-size: none;
  mask-size: none;
  background: url('../images/chat_icon.svg') no-repeat;
}


/**
 * General styles for the OS logo on the gin theme.
 *
 * Selectors on the gin theme.
 */
body[class*='gin'] .toolbar .toolbar-bar #toolbar-item-administration-tray a.toolbar-icon.toolbar-icon-rc-settings:before {
  width: 36px;
  height: 27px;
  left: 16px;
  -webkit-mask-size: none;
  mask-size: none;
  -webkit-mask-image: none;
  mask-image: none;
  background: url('../images/chat_icon.svg') no-repeat;
  background-size: contain;
}

[dir='rtl'] body[class*='gin'] .toolbar .toolbar-bar #toolbar-item-administration-tray a.toolbar-icon.toolbar-icon-rc-settings:before {
  left: auto;
  right: -36px;
}

/* Media query from Gin theme */
@media (max-width: 975px) {
  body[class*='gin'] .toolbar .toolbar-bar #toolbar-item-administration-tray a.toolbar-icon.toolbar-icon-rc-settings:before {
    width: 23px;
    top: 18px;
    left: 7px;
  }
}
