{{ attach_library('rc_opensocial/user_block') }}

{% if token %}

  <script type="application/javascript">
    function ChatLoginOsUser(){
      document.getElementById('rc-os-user-iframe').contentWindow.postMessage({
        externalCommand: 'login-with-token',
        token: '{{ token }}'
      }, '{{ server_url }}');
    }
  </script>

<div id="rc-os-user-block" style="height: {{ height }}; width: {{ width }}">
  <div class="rc-header">
    <span class="rc-close rc-header-element" onclick="closeRcOsUserBlock()"><svg class="navbar-nav__icon icon-close"><use xlink:href="#icon-close"></use></svg></span>
    <span class="rc-reload rc-header-element" onclick="reloadRcOsUserBlock()" title="Refresh"><svg class="navbar-nav__icon icon-autorenew"><use xlink:href="#icon-autorenew"></use></svg></span>
    {%  if web %}
    <a href="{{ web }}" class="rc-app-web rc-header-element" title="Open in chat app" class="rc-app" target="_blank"><svg class="navbar-nav__icon icon-discussion"><use xlink:href="#icon-desktop"></use></svg></a>
    {% endif %}
    {%  if mobile %}
    <a href="{{ mobile }}" class="rc-app-mobile rc-header-element" title="Open in chat app" target="_blank"><svg class="navbar-nav__icon icon-tablet"><use xlink:href="#icon-tablet"></use></svg></a>
    {% endif %}
    {% if open_new_window %}
    <a class="rc-new-window rc-header-element" title="Open in new window" href="{{ url }}&resumeToken={{ token }}" onclick="document.open(this.href,'targetWindow',
      `toolbar=no,
      location=no,
      status=no,
      menubar=no,
      scrollbars=yes,
      resizable=yes,
      width={{ new_window_width }},
      height={{ new_window_height }}`);
      return false;"><svg class="navbar-nav__icon"><use xlink:href="#icon-open_in_new"></use></svg></a>
    {% endif %}
  </div>

  {% if url %}
    <iframe id="rc-os-user-iframe" name="rc-os-user-iframe" onload="ChatLoginOsUser()" src="{{ url }}">
    </iframe>
    <noscript>
      <a href="{{ url }}" target="_blank"><button>{{ 'Press here to Open chat'|t }}</button></a>
    </noscript>
  {% endif %}
</div>
{% else %}
<div id="rc-os-user-block" style="height: {{ height }}; width: {{ width }}">
  <div class="rc-header">
    <span class="rc-close rc-header-element" onclick="closeRcOsUserBlock()"><svg class="navbar-nav__icon icon-close"><use xlink:href="#icon-close"></use></svg></span>
    <span class="rc-reload rc-header-element" onclick="reloadRcOsUserBlock()" title="Refresh"><svg class="navbar-nav__icon icon-autorenew"><use xlink:href="#icon-autorenew"></use></svg></span>
  </div>
  <div class="os-error-container">
    <p>Something went wrong! <br />Try to log out and login again.
      <br />If the issue persists, contact your site administration team.</p>
    <p><a href="{{ url('user.logout') }}" title="User Logout" class="btn btn-primary">Logout</a></p>
  </div>
</div>
{% endif %}
