#rc-os-group-block {
  border-right: 2px solid #eeeff1;
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  resize: horizontal;
  z-index: 9999;
  background-color: #fff;
}
#rc-os-group-block .rc-header {
  padding: 10px 20px;
  min-height: 45px;
  border-bottom: 2px solid #eeeff1;
  cursor: move;
}
#rc-os-group-iframe {
  width: 100%;
  height: calc(calc(100% - 84px));
  border: none;
}
#rc-os-group-block .rc-header-element {
  float: left;
  color: #1d74f5;
  font-size: 0.7rem;
  margin-right: 8px;
}
#rc-os-group-block .rc-reload.rc-header-element {
  float: right;
  cursor: pointer;
}
#rc-os-group-block .rc-close span {
  font-family: Arial, Helvetica, sans-serif;
}
#rc-os-group-block .rc-close.rc-header-element {
  float: right;
  margin-left: 8px;
  margin-right: 0;
}
#rc-os-group-block .rc-reload.rc-header-element {
  float: right;
  cursor: pointer;
}
#rc-os-group-block .rc-header-element svg {
  fill: #1d74f5;
  /*width: 28px;*/
  /*height: 28px;*/
}
#rc-os-group-block .rc-header-element:hover svg,
#rc-os-group-block .rc-header-element:focus svg {
  fill: #9ea2a8;
}
#rc-os-group-block .greeting {
  color: #1d74f5;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 5px;
  font-weight: 500;
}
