#rc-os-user-block {
  border-left: 2px solid #eeeff1;
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;
  resize: horizontal;
  z-index: 9999;
  background-color: #fff;
}
#rc-os-user-block .rc-header {
  padding: 10px 20px;
  min-height: 45px;
  border-bottom: 2px solid #eeeff1;
  cursor: move;
}
#rc-os-user-iframe {
  height: inherit;
  width: 100%;
  height: calc(100% - 50px);
  border: none;
}
#rc-os-user-block .rc-header-element {
  float: left;
  color: #1d74f5;
  font-size: 0.7rem;
  margin-right: 8px;
}
#rc-os-user-block .rc-reload.rc-header-element {
  float: right;
  cursor: pointer;
}
#rc-os-user-block .rc-close span {
  font-family: Arial, Helvetica, sans-serif;
}
#rc-os-user-block .rc-close.rc-header-element {
  float: right;
  margin-left: 8px;
  margin-right: 0;
}
#rc-os-user-block .rc-reload.rc-header-element {
  float: right;
  cursor: pointer;
}
#rc-os-user-block .rc-header-element svg {
  fill: #1d74f5;
  /*width: 28px;*/
  /*height: 28px;*/
}
#rc-os-user-block .rc-header-element:hover svg,
#rc-os-user-block .rc-header-element:focus svg {
  fill: #9ea2a8;
}
.os-error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.os-error-container p {
  color: #464545;
  text-align: center;
}
