
{{ attach_library('rc/block') }}
{% if token %}
  <script type="application/javascript">
    function ChatLoginUser(){
        document.getElementById('rc-user-iframe').contentWindow.postMessage({
          externalCommand: 'login-with-token',
          token: '{{ token }}'
        }, '{{ server_url }}');
    }
  </script>

<div id="rc-user-block">
  <div id="rc-group-block-header" class="rc-header">

    <div class="rc-reload rc-header-element">
      <span onclick="reloadRcUserBlock()">Refresh</span>
    </div>

    {%  if web %}
      <div class="rc-app-web rc-header-element">
        <a href="{{ web }}" class="rc-app" target="_blank">Web App</a>
      </div>
    {% endif %}

    {%  if mobile %}
      <div class="rc-app-mobile rc-header-element" style="margin-bottom: 3px;">
        <a href="{{ mobile }}" style="float: right" target="_blank">Mobile App</a>
      </div>
    {% endif %}

    {% if open_new_window %}
    <div class="rc-new-window rc-header-element">
      <a class="button" href="{{ url }}" onclick="document.open(this.href,'targetWindow',
        `toolbar=no,
          location=no,
          status=no,
          menubar=no,
          scrollbars=yes,
          resizable=yes,
          width={{ new_window_width }},
          height={{ new_window_height }}`);

        return false;">new window</a>
      {% endif %}
    </div>
  </div>

  <iframe id="rc-user-iframe" name="rc-group-iframe" onload="ChatLoginUser()" src="{{ url }}" style="height: {{ height }}; width: {{ width }}"></iframe>

  <noscript>
    <a href="{{ url }}" target="_blank"><button>{{ 'Press here to Open chat'|t }}</button></a>
  </noscript>
</div>
{% else %}
  <div id="rc-user-block">
    <div id="rc-group-block-header" class="rc-header">
      <div class="rc-reload rc-header-element">
        <span onclick="reloadRcUserBlock()">Refresh</span>
      </div>
   </div>
    <div class="error-container">
      <p>Something went wrong! <br />Try to log out and login again.
        <br />If the issue persists, contact your site administration team.</p>
      <p><a href="{{ url('user.logout') }}" title="User Logout" class="btn btn-primary">Logout</a></p>
    </div>
  </div>
{% endif %}
