#rc-group-block {
  border-left: 2px solid #fefefe;
  background-color: #fff;
}
#rc-group-block .rc-header {
  padding: 10px 20px;
  min-height: 45px;
  border-bottom: 2px solid #eeeff1;
}
#rc-group-iframe {
  height: inherit;
  width: 100%;
  border: none;
}
#rc-group-block .rc-header-element {
  float: left;
  color: #1d74f5;
  font-size: 0.7rem;
  margin-right: 8px;
}
#rc-group-block .rc-reload.rc-header-element {
  float: right;
  cursor: pointer;
}
#rc-group-block .greeting {
  color: #1d74f5;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 5px;
  font-weight: 500;
}
